.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #000;
  padding: 20px;
}
©
.digit-box {
  width: 70px;
  height: 90px;
  background: #111;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

.clock-box i {
  font-size: 36px;
}